/* font-family vars */

:root {
  --font-noto: "Noto Sans";
  --font-brand: var(--font-noto);
}

/* colors vars */

:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-900: #111111;
  --color-gray-800: #333333;
  --color-gray-700: #666666;
  --color-gray-500: #959595;
  --color-gray-400: #BDBDBD;
  --color-gray-300: #cccccc;
  --color-gray-200: #dfdfdf;
  --color-gray-100: #f5f5f5;

  --color-brand-blue: #0077C8;
  --color-blue: #0058a3;
  --color-cian: #4595ff;
  --color-yellow: #FFDB00;
  --color-orange: #FFA524;
  --color-green: #0A8A00;
  --color-red: #CC0008;
  --color-pink: #E00751;


  --color-brand: var(--color-brand-blue);
  --color-error: var(--color-pink);
  --color-warning: var(--color-orange);
}
